/*Propiedades de los títulos*/
/* a=0 b=0 c=1 -> specificity = 1*/
h1{
    font-family: Impact, sans-serif;
    font-size: 3em;
    color: #fff;
    border-style: inset;
    border-color: red;
    border-width: 0.3em;
    text-align: center;  
    text-shadow: 5px 5px 8px maroon;
}
/* a=0 b=0 c=1 -> specificity = 1*/
h2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 3px 3px 5px red; 
    text-align: left;
    font-size: 1.5em;
}
/* a=0 b=0 c=1 -> specificity = 1*/
h3{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    background-color: maroon;
    margin-left: 8em;
    margin-top: 0em;
    margin-right: 8em;
}

/*Propiedades body*/
/* a=0 b=0 c=1 -> specificity = 1*/
body{
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8;
    color: white;
    font-size: 1em;
    background-image: url(multimedia/Captura2.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}
/* a=0 b=0 c=1 -> specificity = 1*/
section, header, footer{
    background-color: rgb(30,30,30,0.6);
}

/*Propiedades menú de navegación*/
/* a=1 b=0 c=1 -> specificity = 101*/
#navBar ul{
    list-style-type: none;
    overflow: hidden;
    margin:0;
    padding:0;
}
/* a=1 b=0 c=1 -> specificity = 101*/
#navBar li{
    float:left;
}

/* a=1 b=0 c=2 -> specificity = 102*/
#navBar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 0.75em 0.75em;
    text-decoration: none;
}
/* a=1 b=1 c=2 -> specificity = 112*/
#navBar li a:hover{
    background-color: maroon;
}
/* a=0 b=1 c=0 -> specificity = 10*/
.active{
    background-color: maroon;
}

/* a=0 b=0 c=1 -> specificity = 1*/
img{
    max-width: 100%;
    max-height: 22em;
    height: auto;
}
/* a=0 b=1 c=0 -> specificity = 10*/
.formatoimg{
    text-align: center;
}

/* a=0 b=0 c=1 -> specificity = 1*/
em{
    font-weight: bold;
    font-style: italic;
}
/* a=0 b=0 c=1 -> specificity = 1*/
ul{
    list-style-type: square;
    text-align: center;
    list-style-position: inside;
}
/* a=0 b=0 c=1 -> specificity = 1*/
a{color:white;}
/* a=0 b=1 c=1 -> specificity = 11*/
a:visited{color:white;}
/* a=0 b=1 c=1 -> specificity = 11*/
a:hover{color:red}


/*Propiedades de la tabla*/
/* a=1 b=0 c=0 -> specificity = 100*/
#table1 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
/* a=1 b=0 c=1 -> specificity = 101*/
#table1 td, #table1 th {
    border: 1px solid white;
    padding: 12px;
  }
  
 /* a=1 b=1 c=1 -> specificity = 111*/ 
#table1 tr:hover {background-color: rgb(50,50,50);}

/* a=1 b=0 c=1 -> specificity = 101*/
#table1 th {
    text-align: center;
    background-color: maroon;
  }
  
/*Estilo para las secciones de index.html*/
/* a=1 b=0 c=0 -> specificity = 100*/
#section1{
    background: none;
}
/* a=1 b=0 c=1 -> specificity = 101*/
#section1 ul{
    text-align: left;
}
/* a=0 b=1 c=1 -> specificity = 11*/
div.row{
    background-color: rgb(30,30,30,0.6);
}